<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-{{msg.tags}}">
    {{msg}}
  </div>
  {% endfor %}
  {% endif %}


  <div style="margin: auto; width: 400px;">
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {{form}}
      <button type="submit">Sign up</button>
    </form>
  </div>




</body>

</html>