{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}" id="typehref" type="text/css"> 

</head>

<style>
   a:link {
  color: red;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}

li .mode{
    color: whitesmoke;
}
</style>

<body>


    <nav class="navbar navbar-expand-lg navbar-light" id="navnischal">
        <a class="navbar-brand" style="color: white" href="#">Welcome, {{request.user.username}} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link color" href="#" style="color: whitesmoke" data-type="{% static 'css/white.css' %}">Default-Mode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color" href="#" style="color: whitesmoke" data-type="{% static 'css/dark.css' %}">Dark-Mode</a>
              </li>
           </ul>
          <a href="{% url 'logout' %}" style="float: right;">Logout</a>
        </div>
      </nav>
    
    <div class="container ">

        <div class="search" style="margin-top: 20px;">

            <form action="{% url 'search' %}" method="POST" style="display: flex;">
                {% csrf_token %}
                <input type="text" name="search" placeholder="enter question you want to search.." class="form-control">
                <button class="btn btn-sm btn-outline-success" type="submit">search</button>
            </form>

        </div>

        <div class="body" style="margin-top: 30px;">

            {% for post in posts %}
            <div class="card" style="padding: 10px; margin-top: 10px;">
                <p style="text-align: center; font-weight: bold;">{{post.title}}</p>
                <div class="card-body shadow bg-white rounded" style="overflow: auto; height: 300px;">
                    {{post.body|safe}}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>





    <script>
        DEFAULTURL = "{% static 'css/white.css' %}";

        let a = document.getElementsByClassName('color')
        let b = document.getElementById('typehref');
        
        let t = localStorage.getItem("color");
        
        if(t == null){
          b.href = DEFAULTURL;
        }
        else{
           b.href = t;
        }
        
      
        
        for(let i=0; i<a.length; i++){
           a[i].addEventListener("click", function(e){
               
                const type = e.target.dataset.type;
                b.href = type;
                localStorage.setItem("color", type);
      
           });
        }
        
        
        
        
      
      </script>

      
</body>

</html>